POSTGRES_USER=potree
POSTGRES_PASSWORD=potree-321
POSTGRES_DB=potree

MINIO_ROOT_USER=potreeadmin
MINIO_ROOT_PASSWORD=s3Almacenamiento

# Tamano maximo de archivo LAS/LAZ aceptado, en GB
MAX_UPLOAD_GB=200
